html{
	height: 100%;
}

body{
	min-width: 830px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #DCDADA;
}

h1{
	font: bold 25px verdana, sans-serif;
}

h2{
	font:bold 20px verdana, sans-serif;
}

header,nav,section,article,figure{
	display: block;
}

#cuerpo{
	text-align: center;
}

#agrupar{
	margin:auto;
	text-align: center;

	margin-top:0px; 
}

#cabecera{
	float: left;
	background-color: black;
	width: 100%;
}

#cabecera img{
	width: 230px;
	position: absolute;
	left: 10px;
	margin: 5px;
}

#contenido{

	clear: both;
	margin-top:0px; 
	margin:auto;
	padding: 0px;
	width: 98%;
	height: 78%; 
	overflow-y:scroll;
	border:1px solid black;
}
.bienvenida{
	clear: both; 
	margin: 100px;
	padding: 10px;
}
.cont{
	background-image: url(../imagenes/tecno.png);
}
footer{
	background: rgba(0,0,0,0.5);
	font-size: 13px;
	text-align: center;
	padding: 10px;
	color: #FFF;
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	min-height: 60px;
}
