*{
	margin: 0px;
	padding: 0px;
}
h2{
	font: bold 18px verdana, sans-serif;
	color: #FFF;
	padding: 15px; 
}
body{
	text-align: center;
    	float: center;
}
#container{
	background:   #3b3b3b  ;
	width: 500px;
	margin: 15px auto;
	padding-top: : 10px;
	padding-bottom: 8px;
	margin-bottom: 10px;
	border: 1px solid #000;
}
#tab{
	margin-top: 10px;
	background:   #FFF ;
	border: 1px solid #000;
	display: inline-block;
	width: 480px;
	padding: 5px;
	padding-left: 2px;
}

